.chat-side
  .header
    %h3.chat-side__user
      サンプルユーザー
    %ul
      %li.list
        


  .groups
    .group
      .group__name hoge1
      .group__message これはサンプルです。
    .group
      .group__name hoge2
      .group__message これはサンプルです。
    .group
      .group__name hoge3
      .group__message これはサンプルです。
    .group
      .group__name hoge4
      .group__message これはサンプルです。
