.chat-main__footer
  .chat-main__footer-form
    .chat-main__footer-body
      %input.message{ :placeholder => "type a message"}
      .chat-main__footer-icon
        %label.upload{for: "upload-icon"}
          %i.fa.fa-picture-o
      %input.submit{:type => "submit", :value => "Send"}
