.chat-main__messages
  .chat-main__message
    .chat-main__message-name
      userName
    .chat-main__message-time
      yyyy/mm/dd xx:xx:xx
    .chat-main__message-text
      this is sample web page !!
    .chat-main__message-image
      if @image
  .chat-main__message
    .chat-main__message-name
      userName
    .chat-main__message-time
      yyyy/mm/dd xx:xx:xx
    .chat-main__message-text
      this is sample web page !!
    .chat-main__message-image
      if @image
  .chat-main__message
    .chat-main__message-name
      userName
    .chat-main__message-time
      yyyy/mm/dd xx:xx:xx
    .chat-main__message-text
      this is sample web page !!
    .chat-main__message-image
      if @image
