
.wrapper
  .chat-side
    .header
      .chat-side__user
        .chat-side__user-name
          ユーザー名称
        .chat-side__user-btn
          .chat-side__user--new-group
            %i.fa.fa-pencil-square-o
          .chat-side__user--edit-user
            %i.fa.fa-cog

    .groups
      .chat-side__group
        .chat-side__group--name
          グループ名-hoge-
        .chat-side__group--message
          最新コメント-hoge-
      .chat-side__group
        .chat-side__group--name
          グループ名-hoge-
        .chat-side__group--message
          最新コメント-hoge-
      .chat-side__group
        .chat-side__group--name
          グループ名-hoge-
        .chat-side__group--message
          最新コメント-hoge-
      .chat-side__group
        .chat-side__group--name
          グループ名-hoge-
        .chat-side__group--message
          最新コメント-hoge-

  .chat-main
    .header
      .header__title
        .header__title-name
          サンプルグループ
        .header__title-member
          Member:


    .messages
      .message.clearfix
        .message__user-name
          サンプルユーザー
        .message__date
          2018/08/29 12:00
        .message__bottom-message
          サンプル投稿です。
        .message__bottom-image
      .message.clearfix
        .message__user-name
          サンプルユーザー
        .message__date
          2018/08/29 12:00
        .message__bottom-message
          サンプル投稿です。
        .message__bottom-image
      .message.clearfix
        .message__user-name
          サンプルユーザー
        .message__date
          2018/08/29 12:00
        .message__bottom-message
          サンプル投稿です。
        .message__bottom-image


    .footer
      %form.chat-main__footer-form
        .chat-main__footer-body
          %input.chat-main__footer-input{ :placeholder => "type a message" }
          %i.fa.fa-image
          %input.submit{ :type => "submit", :value => "send"}
