!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}

  .wrapper
    = render "chat-side"
    .chat-main
      .header
        .header__title
          .header__title-name
            サンプルグループ
          .header__title-member
            Member:
        .header__button
          Edit

      .messages
        .message
          .top-message
            .top-message__user-name
              サンプルユーザー
            .top-message__date
              2018/08/29 12:00
          .bottom-message
            .bottom-message__text
              サンプル投稿です。
        .message
          .top-message
            .top-message__user-name
              サンプルユーザー
            .top-message__date
              2018/08/29 12:00
          .bottom-message
            .bottom-message__text
              サンプル投稿です。
        .message
          .top-message
            .top-message__user-name
              サンプルユーザー
            .top-message__date
              2018/08/29 12:00
          .bottom-message
            .bottom-message__text
              サンプル投稿です。
        .message
          .top-message
            .top-message__user-name
              サンプルユーザー
            .top-message__date
              2018/08/29 12:00
          .bottom-message
            .bottom-message__text
              サンプル投稿です。

      .footer
        %form
          %input
          .button
            SEND


