!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}

  %body
    %div{class: "chat-side"}
      %div{class: "chat-side__user"}
      %div{class: "chat-side__groups"}

    %div{class: "chat-main"}
      %div{class: "chat-main__header"}
      %div{class: "chat-main__body"}
      %div{class: "chat-main__footer"}
