
.chat-main__header--group
  .chat-main__header--group-name
    = @group.name
    = link_to "Edit", "edit", class: "chat-main__header--group-edit-btn"
  .chat-main__header--group-member
    Member:
    -@group.members.each do |member|
      =member.user.name + " | "
