.chat-main__header
  .chat-main__header--group
    .chat-main__header--group-name
      GroupName
      %input.chat-main__header--group-edit-btn{:type => "submit", :value => "Edit"}
    .chat-main__header--group-member
      MEMBER: user1 | user2
