
.chat-side{
  background-color: $sidemainColor;
  color: $WhiteColor;
  width: 300px;
  height: 100vh;
  // float: left;
  .header{
    background-color: $sideHeaderColor;
    padding: 35px 20px;
    .chat-side__user{
      font-size: 16px;
      font-weight: bold;
    }
  }
  .groups{
    .chat-side__group{
      display: block;
      padding: 20px;
      &__group--name{
        font-size: 15px;
      }
      &__group--message{
        font-size: 11px;
      }
    }

  }
}
