.chat-side{
    width: 300px;
    height: 100vh;
    background-color: $sidemainColor;
    color: $WhiteColor;
    float: left;
    &__user{
      background-color: $sideHeaderColor;
      padding: 35px 20px 0;
      height: 60px;
      &-name{
        font-weight: bold;
        font-size: 16px;
        float: left;
      }
      .chat-side__icon{
        float: right;
        font-size: 25px;
        &--new-group{
          float:left;
        }
        &--edit-user{
          float:left;
        }
      }
    }
    .chat-side__groups{
      &-list{
        .chat-side__group{
          box-sizing: border-box;
          &:hover{
            background-color: rgba(255,255,255,0.8);
          }
          padding: 20px;
          &-name{
            color: $WhiteColor;
            font-size: 15px;
            padding-bottom: 5px;
          }
          &-message{
            color: $WhiteColor;
            font-size: 11px;
          }
        }
      }
    }
  }
