.chat-main{
  overflow: hidden;
  width: calc(100vw-300px);
  height: 100vh;
  position: relative;
  .header{
    border-bottom: 1px solid $mainBorderColor;
    &__title{
      padding: 35px 40px 15px;
      &-name{
        font-size:20px;
        color: $mainGroupColor;
      }
      &__title-member{
        font-size: 12px;
        color: $mainSubTextColor;
      }
    }
  }
  .messages{
    background-color: $mainBackColor;
    height: 100vh;
    .message{
      color: $mainTextColor;
      padding: 40px;
      &__user-name{
        font-size: 16px;
        float: left;
        margin: 0 10px 10px 0;
      }
      &__date{
        font-size: 12px;
        color: $mainSubTextColor;
        float: left;
      }
      &message__bottom-message{
        font-size: 14px;
      }
    }
    }
  }
  .footer{
    background-color: #B8C3C7;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 90px;
    width: 100%;
    .chat-main__footer-form{
      margin: 0 40px;
      &__footer-body{
        &__footer-input{
          height: 50px;
          width: 100%;
          border: none;
        }
        #input{
          background-color:$ButtonColor;
        }
      }
    }
  }
