.wrapper{
  @include clearfix;
  .chat-main{
    width: calc( 100vw - 300px );
    height: 100vh;
    float: left;
    &__header{
      border-bottom: 1px solid $mainBorderColor;
      height: 95px;
      &--group{
        padding: 35px 40px 0px;
        &-name{
          font-size: 20px;
          color: $mainGroupColor;
          padding-bottom: 15px;
          .chat-main__header--group-edit-btn{
            float: right;
            height: 40px;
            width: 100px;
            color: $btnColor;
            border: 1px solid $btnColor;
          }
        }
        &-member{
            color: $mainSubTextColor;
            font-size: 12px;
          }
      }
    }
    .chat-main__messages{
        .chat-main__message{
          padding: 40px;
          &-name{
            font-size: 16px;
            font-weight: bold;
            color: $mainTextColor;
            float: left;
            padding: 6px 10px 0px 0px;
          }
          &-time{
            font-size: 12px;
            color: $mainSubTextColor;
            float: left;
          }
          &-text{
            font-size: 14px;
            color: $mainTextColor;
            clear: both;
          }
          &-image{
            clear: both;
          }
        }
      }
  }
}
