.wrapper{
  @include clearfix;
  .chat-side{
    width: 300px;
    height: 100vh;
    background-color: $sidemainColor;
    color: $WhiteColor;
    float: left;
    .chat-side__user{
      background-color: $sideHeaderColor;
      padding: 20px;
      .chat-side__user-name{
        font-weight: bold;
        font-size: 16px;
      }
      .chat-side__user-new-group{
      }
      .chat-side__user--edit-user{
      }
    }
    .chat-side__groups{
      .chat-side__groups-list{
        .chat-side__group{
          padding: 20px;
          .chat-side__group-name{
            font-size: 15px;
            padding-bottom: 5px;
          }
          .chat-side__group-message{
            font-size: 11px;
          }
        }
      }
    }
  }
  .chat-main{
    width: calc( 100vw - 300px );
    height: 100vh;
    float: left;
    .chat-main__header{
      border-bottom: 1px solid $mainBorderColor;
      .chat-main__header--group{
        padding: 35px 40px 0px;
        .chat-main__header--group-name{
          font-size: 20px;
          color: $mainGroupColor;
          padding-bottom: 15px;
          input.chat-main__header--group-edit-btn{
            float: right;
            margin: 0 20px;
            height: 40px;

          }
          .chat-main__header--group-member{
            color: $mainSubTextColor;
            font-size: 12px;
            border: 1px solid $flash_buttonColor;
          }
        }
      }
    }
    .chat-main__messages{
      .chat-main__messages-list{
        .chat-main__message{
          padding: 40px;
          .chat-main__message-name{
            font-size: 16px;
            font-weight: bold;
            color: $mainTextColor;
            float: left;
            padding: 6px 10px 0px 0px;
          }
          .chat-main__message-time{
            font-size: 12px;
            color: $mainSubTextColor;
            float: left;
          }
          .chat-main__message-text{
            font-size: 14px;
            color: $mainTextColor;
            clear: both;
          }
          .chat-main__message-image{
            clear: both;
          }
        }
      }
    }
    .chat-main__footer{
      background-color: $mainBackColor;
      position: fixed;
      bottom: 0;
      width: 100vw;
      .chat-main__footer-form{
        @include clearfix;
        width: 100vw;
        margin: 0 40px;
        .message{
          font-size: 16px;
          color: $mainTextColor;
          margin-left: 10px;
        }
      }
    }
  }
}
