
// text¥_color
$WhiteColor: #ffffff;
$mainTextColor: #434a54;
$mainGroupColor: #333333;
$mainSubTextColor: #999999;
$mainBorderColor: #eeeeee;



// background-color
$sidemainColor: #2f3e51;
$sideHeaderColor: #253141;
